
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {text-decoration: none;}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}


/* #region-header */
/* common */
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
 /* header */
 .page-header {
    border-bottom: 1px solid #e7e9fc;
 }
 .header-container {
    display: flex;
    align-items: center;
 }
 .header-nav {
    display: flex;
    align-items: center;
 }
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
padding: 24px 0;
margin-right: 76px;
}

.header-logo .logo-part {
    color: #2e2f42;
}
.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav-link {
    padding: 24px 0;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.contacts-link {
    padding: 24px 0;
    display: block;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455    ;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus 
{color: #404bbf;}
/* #endregion-header */
/* #region-hero */

.hero {background-color: #2e2f42;}

.hero .hero-container {
    padding: 188px 0;
}
.main-title-hero {
    max-width: 496px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}
.order-servise {
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    margin-left: auto;
    margin-top: 48px;
    margin-right: auto;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    cursor: pointer;
}
.order-servise:hover,
.order-servise:focus {
    background: #404bbf;
}
/* #endregion-hero */
/* #region-features */
.title-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.text-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* #endregion-features */
/* #region-team */
.region-team {
    background: #f4f4fd;
}
.title-region {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}
.team-item {background: #fff}
.title-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.text-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
/* #endregion-team */
/* #region-portfolio */
.title-region {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.title-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.text-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* #endregion-portfolio */
/* #region-footer */
.region-footer {background: #2e2f42;}
.footer-logo .logo-part {
    color: #f4f4fd;
}
.text-footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
/* #endregion-footer */